*{
    margin: 2px;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
    }

    html{
        scroll-behavior: smooth;
    }
    
    body{
    background:rgb(0, 0, 0);
    color: rgb(255, 252, 252);
    }
    
    #header{width:100%;
    height:100%;
    background-size: cover;
    background-position: center;}


    
    
    .container{
     padding: 10px 10%;}
    
    
    nav ul li{display: inline-block;
    list-style:none;
    text-align:center;
    margin:10px 20px;
    
    }
    
    nav ul li a{color:white;
    text-decoration: none;
    position:relative;}
    
    nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    background: rgb(11, 230, 182);
    position: absolute;
    left:0;
    bottom:-6px;
    transition:0.5sec;
    }
    nav ul li a:hover::after{
        width:100%;
    }
    
    span{
        color: rgb(11, 230, 182);}
    
    .header-text{
        margin-top:15%;
        font-size: 20px;
    
    }    
    
/* --------about--------- */

#about{
    padding:100px 0;
    color: white;
    margin-top: 50px;
}

.row{display:flex;
justify-content: space-between;
flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 30%;
}

.about-col-1 img{
    width:100%;
    border-radius: 20px;
}

.about-col-2{flex-basis: 60%;
}

.sub-title{font-size: 30px;
font-weight: 300;
color:rgb(11, 230, 182);}

.tab-title{display: flex;
margin:20px 0 40px;}

.tab-links{margin-right: 50px;
    position: relative;}
    
.tab-links::after{
    content: '';
    width:0;
    height:3px;
    background: rgb(11, 230, 182);
    position: absolute;
    left:0;
    bottom:-6px;
    transition:0.5sec;}

.tab-links.active-link::after{
        width:50%;
    }

.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}

.tab-contents ul li span{color:aqua;
font-size:15px;}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display:block;
}


/* ---portfolio---- */

#portflio{
padding: 50px 0;
}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width:100%;
    border-radius: 10px;
    display:block;
    transition: trasform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.3),aqua);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;


}

.layer h3{
    font-weight: 500;
    font-size: large;
    margin-top: 30px;
    color:black;
}
.layer a{
    margin-top: 20px;
    color:rgb(3, 51, 51);
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    background: rgb(217, 230, 230);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.layer a i{
    color: black;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height:100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: max-content;
    border: 1px solid aqua;
    
    padding: 14px 50px;
    border-radius: 30px;
    text-decoration: none;
    color:rgb(236, 239, 241);
    transition: background 0.5s;
}
.btn:hover{
    background: aqua;
}

/* ------contact---- */


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.btn.btn2{
    display: inline-block;
}

.contact-right form{
    width:100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:rgb(21, 54, 54);
    padding: 15px;
    margin: 15px 0;
    color:aqua;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding:14px 60px;
    font-size:20px;
    color:white;
    background: black;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: aqua;
    font-weight: 300;
    margin-top: 20px;
}


/* small */


nav .fa-solid{display:none;}

@media only screen and (max-width:600px){
.header-text{margin-top: 50%;
font-size: 14px;}

.header-text h1{font-size:15px;}


nav .fa-solid{display:block;
font-size: 20px;}

nav  ul{
    background: rgb(43, 175, 175);
    position:fixed;
    top:0;
    right:-100px;
    width: 100px;
    height: 50vh;
    padding-top:40px;
    transition: 0.5s;
}
nav ul li{
    display: block;
    margin:20px;
}
nav ul .fa-solid{position: absolute;
    top: 25px;
    left:25px}

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
        
}